/* UserDetail.module.css */
.detailPage {
  display: flex;
  justify-content: center;
  align-items: center;
}

.userCard {
  max-width: 500px;
  width: 100%;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
